* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Microsoft yahei", Arial;
}

a {
	text-decoration: none;
}

body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ebf5fc;
}

ul {
	position: relative;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 20px;
	width: 300px;
	background: #ebf5fc;
	box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

div,
p {
	color: #61677C;
}

.one {
	color: #6a9bd8;
}

.top {
	margin-top: 8vh;
}

.footer {
	margin-top: 8vh;
	margin-bottom: 8vh;
}

.nickname {
	font-size: 40px;
	font-weight: bold;
}